/* Global */
body {
  padding: 0;
  margin: 0;
}

.reset-a,
.reset-a:hover,
.reset-a:visited,
.reset-a:focus,
.reset-a:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

.log-in-text {
  font-family: 'Comfortaa';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}